* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2a49b8;
}

/* The sections for the card for information */
.upperSection {
  width: 100%;
  height: 34vh;
  background-color: red;
  position: relative;
}

.middleSection {
  position: relative;
  display: flex;
  width: 100%;
  height: 33vh;
  background-color: blue;
}

.bottomLeft,
.bottomRight {
  height: 100vh;
  width: 50%;
}

.bottomLeft {
  height: 33vh;
  background-color: black;
}

.bottomRight {
  height: 33vh;
  background-color: white;
}
.bottomSection {
  position: relative;
  width: 100%;
  height: 33vh;
  background-color: green;
}

/*This is the first card that will go in the upper section*/
/* Text class to change all the text properties*/
.text {
  color: black;
  font-family: sans-serif;
}
/*For neatness sake I'm putting the css for moving the card
in another section*/
.andrewName {
  position: absolute;
  left: 40vw;
  bottom: 0;
}
.favNumber {
  position: absolute;
  left: 34vw;
  top: 3vh;
}

/*The basic construct for each cards*/
.introCard {
  background-image: url("fbAvatar.png");
  background-size: cover;
  padding: 8rem 0 0;
  max-width: 20vw;
  transition: transform 300ms ease;
  overflow: hidden;
}
.favNumber {
  background-image: url("andrewNumber.png");
  max-width: 15vw;
}
.introBody {
  padding: 1em;
  background: linear-gradient(
    hsl(217 90% 61%/0),
    hsl(217 90% 61%/0.2),
    hsl(217 90% 61%/0.5),
    hsl(217 90% 61%/0.75),
    hsl(217 90% 61%/1)
  );

  transform: translateY(200%);
  transition: transform 300ms ease;
}
.introTitle {
  position: relative;

  transform-origin: left;
  transform: translateX(-200%);
  transition: transform 300ms ease;
}
.introTitle::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  height: 3px;
  width: 60%;
  background: blue;

  transform-origin: left;
  transform: scaleX(0);
  transition: transform 1000ms ease;
}
/* Animations for name card */

.introCard:hover .introTitle::after {
  transform: scaleX(1);
}

.introCard:hover .introTitle {
  transform: translateX(0);
}

.introCard:hover .introBody {
  transform: translateY(0);
}
