* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2a49b8;
}

li,
a,
button {
  font-weight: 500;
  font-size: larger;
  color: white;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: #1a38a3;
}

nav {
  list-style: none;
}
li {
  display: inline-block;
  padding: 0px 5vh;
  border-right: white solid;
}

a {
  transition: all 0.5 ease 0s;
}
a:hover {
  color: #6883e3;
}

button {
  transition: all 0.5 ease 0s;
  background-color: #1a38a3;
  border: none;
  border-radius: 20px;
  padding: 5px 20px;
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: #1a38a3;
}
