@charset "UTF-8";

body {
  margin: 0 auto;
}

ul {
	list-style-type: none;
}

/* Homepage Header */
#home-header {
  text-align: center;
}

/* Navbar */
nav {
  text-align: center;
}

nav li {
  display: inline;
}

/* Personal header */
#mehbub-header {
  text-align: center;
}

/*** Joseph's Page ***/
#joseph {
  font-family: "Fjalla One";
  background: #acdbff;
  display: block;
}

a {
  text-decoration: none;
}

/* Joseph's Header */
#joseph header {
	text-align: center;
	font-size: 36px;
	margin: 0 auto;
	width: 100%;
	padding: 0rem;
	color: #00223C;
}

#joseph h1 {
	margin: 0;
}

#joseph footer {
  width: 100%;
  padding: 5rem;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, #005ea7, #acdbff);
  z-index: -1;
}

/* About Joseph */
#about-joseph {
	width: 100%;
	display: block;
	margin: 0 auto;
	font-size: 19px;
}

#about-joseph ul {
	width: 100%;
	padding: 0;
	text-align: center;
}


#about-joseph li {
	display: inline-block;
}

/* Joseph's Back Button */
.back-btn {
  font-family: inherit;
  font-size: 20px;
  color: #000e19;
  background: linear-gradient(to left, #005ea7 0%, #acdbff 50%, #005ea7 100%);
  margin-left: -5.1rem;
  position: absolute;
  top: 50%;
  padding: 0.5rem;
  border: 1px;
  border-color: #003874;
  border-style: solid;
  border-radius: 0 25px 25px 0px;
  transition: box-shadow 0.7s;
}

.back-btn:hover {
  box-shadow: 0 0 5px #006dc5, inset 0 0 10px #005ca5;
}

.back-btn:active {
	color: #000E19;
}

/* Joseph's NY Image */
#nyimg {
	border-radius: 360px;
	display: block;
	margin: 0 auto;
}

/*** Vasyl's Page ***/
body#vasyl{
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

#vasyl div{
    /* border-top: 1px solid white; */
    display: block;
    height: 20vh;
    padding: 1px 10px;
    font-family: 'Mate SC', serif;
    font-size: 20px;
    text-align: center;
}

#vasyl p{
    font-family: 'Source Sans Pro', sans-serif;
}

#vasyl div#name{
    background-color: #F4817B;
    font-size: 25px
}

#vasyl div#name a{
    text-align: left;
}

#vasyl div#color{
    background-color: #F6C079;
}

#vasyl div#animal{
    background-color: #A6CC8F;
}

#vasyl div#number{
    background-color: #9ABEC1;
}

#vasyl div#images{
    background-color: #BF9BB9;
}