@charset "UTF-8";

body {
	width: 960px;
	margin: 0 auto;
}

/* Homepage Header */
#home-header {
	text-align: center;
}

/* Navbar */
nav {
	text-align: center;
}

nav ul {
	list-style-type: none;
}

nav li {
	display: inline;
}

/* Personal header */
#mehbub-header {
	text-align: center;
}